node_modules
/node_modules
node_modules/*
/node_modules/*
bower_components
bower_components/*
.env
/.env
npm-debug.log
*Thumbs.db
./config/email.json
config/email.json
.idea/*
config/config.json
./config/config.json
.DS_Store
# anguler-analytics code
public/js/analytics.js
/public/js/analytics.js
